# Analysis for Holmusk data set

## Data processing

In [37]:
# Import some libraries
import pandas as pd
import numpy as np
import os

In [38]:
cwd = os.getcwd()
print(cwd)

C:\Users\USER\Downloads\Holmusk_analysis

In [39]:
# Import our datasets
bill_id = pd.read_csv(r'C:/Users/USER/Downloads/Holmusk_analysis/bill_id.csv')
demographics = pd.read_csv(r'C:/Users/USER/Downloads/Holmusk_analysis/demographics.csv')
clinical_data = pd.read_csv(r'C:/Users/USER/Downloads/Holmusk_analysis/clinical_data.csv')

# Rename bill_id "patient_id" to avoid conflict
bill_id.rename(columns={"patient_id": "pt_id"}, inplace=True)

In [40]:
print("bill_id columns: " + str(bill_id.columns))
print("demographics columns: " + str(demographics.columns))
print("clinical_data columns: " + str(clinical_data.columns))
print(" ")
print("bill_id length: " + str(len(bill_id)))
print("demographics length: " + str(len(demographics)))
print("clinical_data length: " + str(len(clinical_data)))

bill_id columns: Index(['pt_id', 'bill_id', 'date_of_admission', 'amount'], dtype='object')
demographics columns: Index(['patient_id', 'gender', 'race', 'resident_status', 'date_of_birth'], dtype='object')
clinical_data columns: Index(['id', 'date_of_admission', 'date_of_discharge', 'medical_history_1',
       'medical_history_2', 'medical_history_3', 'medical_history_4',
       'medical_history_5', 'medical_history_6', 'medical_history_7',
       'preop_medication_1', 'preop_medication_2', 'preop_medication_3',
       'preop_medication_4', 'preop_medication_5', 'preop_medication_6',
       'symptom_1', 'symptom_2', 'symptom_3', 'symptom_4', 'symptom_5',
       'lab_result_1', 'lab_result_2', 'lab_result_3', 'weight', 'height'],
      dtype='object')

bill_id length: 13600
demographics length: 3000
clinical_data length: 3400

bill_id actually has repeated patient ids, but with separate bill ids! Maybe we can just combine all the bill amounts together

Seems like bill_id has 4 rows for each patient visit. Patients that visit more than once however, will have 4 * n rows

In [41]:
# Find any repeated values
print("bill_id: " + str(len(bill_id["pt_id"].unique())) + " / " + str(len(bill_id)))
print("demographics: " + str(len(demographics["patient_id"].unique())) + \
      " / " + str(len(demographics)))
print("clinical_data: " + str(len(clinical_data["id"].unique())) + \
      " / " + str(len(clinical_data)))

bill_id: 3000 / 13600
demographics: 3000 / 3000
clinical_data: 3000 / 3400

Now let's combine the bill_ids into the correct format.

We add date_of_admission to their bill_ids to separate multiple visits by the same patient. Of course, we can look at the impact of multiple visits on the bill amount

In [42]:
bill_id_2 = bill_id.copy(deep=True)

# Save new id as id_w_date so we can reuse id to add in demographic info
bill_id_2["id_w_date"] = bill_id["pt_id"] + bill_id["date_of_admission"]

# bill_id_2["pt_id"][0]
len(bill_id_2["id_w_date"].unique())

3400

In [43]:
bill_id_2 = bill_id_2.sort_values("id_w_date")

# Maybe we can check the vist number too!
admission_count = []

# Combine the bill amounts
bill = []
current = bill_id_2["id_w_date"][0]
total_bill = 0
count = 1
for index, row in bill_id_2.iterrows():
    if row["id_w_date"] == current:
        total_bill += row["amount"]
        count += 1
    else:
        bill.append(total_bill)
        admission_count.append((count // 4) + 1)
        count = 0
        current = row["id_w_date"]
        total_bill = row["amount"]
bill.append(total_bill)
admission_count.append(count)

print(len(bill))
print(len(admission_count))

# Bill has been combined!

3400
3400

In [44]:
12 // 4

3

Let's do the same for clinical_data, and sort it, and add in the bill.

For clinical_data, we actually see that some patients have multiple logs, because they enter the hospital multiple times! We must treat those as separate values.

In [45]:
# clinical_data processing
cd_2 = clinical_data.copy(deep=True)
cd_2["id_w_date"] = clinical_data["id"] + clinical_data["date_of_admission"]

# Sort by new patient id
cd_2 = cd_2.sort_values("id_w_date")

# Add in total_bill
cd_2["total_bill"] = bill
cd_2["admission_count"] = admission_count

Now let's add in the relevant demographic data into cd_2

In [46]:
demographics.columns

Index(['patient_id', 'gender', 'race', 'resident_status', 'date_of_birth'], dtype='object')

In [47]:
# Add empty columns to cd_2
gender = []
race = []
citizenship = []
dob = []

# Check patient id in demographic, and add to cd_2
count_cd2 = 0
count_demo = 0
loop = 0
while count_cd2 < 3400 and count_demo < 3000:
#     print(loop)
#     loop += 1
    if cd_2["id"][count_cd2] == demographics["patient_id"][count_demo]:
        gender.append(demographics["gender"][count_demo])
        race.append(demographics["race"][count_demo])
        citizenship.append(demographics["resident_status"][count_demo])
        dob.append(demographics["date_of_birth"][count_demo])
        count_cd2 += 1
    else: 
        count_demo += 1
        
print(len(gender))

# Add the columns
cd_2["gender"] = gender
cd_2["race"] = race
cd_2["citizenship"] = citizenship
cd_2["date_of_birth"] = dob

3400

In [48]:
print(cd_2["gender"])

0       Female
1       Female
2         Male
3       Female
4         Male
         ...
3395    Female
3396      Male
3397      Male
3398      Male
3399    Female
Name: gender, Length: 3400, dtype: object

Now we compile into our full dataset!

In [113]:
raw_df = cd_2.copy(deep=True)

In [114]:
print(raw_df.columns)

Index(['id', 'date_of_admission', 'date_of_discharge', 'medical_history_1',
       'medical_history_2', 'medical_history_3', 'medical_history_4',
       'medical_history_5', 'medical_history_6', 'medical_history_7',
       'preop_medication_1', 'preop_medication_2', 'preop_medication_3',
       'preop_medication_4', 'preop_medication_5', 'preop_medication_6',
       'symptom_1', 'symptom_2', 'symptom_3', 'symptom_4', 'symptom_5',
       'lab_result_1', 'lab_result_2', 'lab_result_3', 'weight', 'height',
       'id_w_date', 'total_bill', 'admission_count', 'gender', 'race',
       'citizenship', 'date_of_birth'],
      dtype='object')

### Make the column values uniform and consistent

Now let's clean up the data and make it code-readable

In [115]:
# Check NA
for column in raw_df.columns:
    if raw_df[column].isnull().values.any():
        print(column + " nulls: " + str(raw_df[column].isnull().values.any()))
        
# Medical_history 2 and 5 have nulls. Let's check the number
print(raw_df["medical_history_2"].isnull().sum())
print(raw_df["medical_history_5"].isnull().sum())

medical_history_2 nulls: True
medical_history_5 nulls: True
233
304

There is a significant number of nulls. While I think the dataset is big enough where we can just remove them, I want to see if there is any reason behind these nulls. 

So let's filter them out, and analyse them separately (later...)

In [116]:
# Rectify gender - no nulls
# Male = 1, female = 0
gender_df = raw_df.copy(deep=True)
# print(gender_df["gender"].isnull().sum())

gender_df["gender"] = np.where(gender_df["gender"].str.lower().str.startswith("m"), 1, 0)

print(len(gender_df.loc[gender_df["gender"] == 0]))

1702

In [117]:
# Update gender
raw_df["gender"] = gender_df["gender"]

In [118]:
# Add in age column
age_df = raw_df.copy(deep=True)
# print(age_df["date_of_birth"].isnull().sum()) # No nulls for both
# print(age_df["date_of_admission"].isnull().sum())

doa = age_df["date_of_admission"].str.split('/', expand=True).astype(int)
dob = age_df["date_of_birth"].str.split('/', expand=True).astype(int)

age_at_admission = [a - b for a, b in zip(doa[2], dob[2])]

# Check that there are no negative ages
count = 0
for age in age_at_admission:
    if age < 0:
        count += 1
print("Negative ages: " + str(count))
print(len(age_at_admission))

Negative ages: 0
3400

In [119]:
raw_df["age_at_admission"] = age_at_admission

In [120]:
# Let's change date_of_admission and date_of_birth into month and year values
yoa, moa = doa[2], doa[1]
yob, mob = dob[2], dob[1]

raw_df["year_of_admission"] = yoa
raw_df["month_of_admission"] = moa
raw_df["year_of_birth"] = yob
raw_df["month_of_birth"] = mob

In [121]:
# Check all newly-formatted columns
raw_df["year_of_birth"]

0       1983
1       1943
2       1972
3       1976
4       1942
        ...
3395    1976
3396    1963
3397    1938
3398    1950
3399    1956
Name: year_of_birth, Length: 3400, dtype: int32

In [122]:
# Change date_of_discharge to duration_of_stay
# We make use of datetime object to do this for us
# Date format is  DD/MM/YYYY
from datetime import date

duration_of_stay = []

for index, row in raw_df.iterrows():
    _doa = row["date_of_admission"].split('/')
    _dod = row["date_of_discharge"].split('/')
    d_a = date(int(_doa[2]), int(_doa[1]), int(_doa[0]))
    d_d = date(int(_dod[2]), int(_dod[1]), int(_dod[0]))
    duration_of_stay.append((d_d - d_a).days)
    
# Check negative duration
count = 0
for day in duration_of_stay:
    if day < 0:
        count += 1
        
print("Negative durations: " + str(count))
print(len(duration_of_stay))

Negative durations: 0
3400

Next, we settle the values for medical condition

In [123]:
raw_df["medical_history_3"].unique()

array(['0', 'No', '1', 'Yes'], dtype=object)

In [124]:
# Change medical_history 3 Yes and No to their respective 1s and 0s
for index, row in raw_df.iterrows():
    if row["medical_history_3"] == "No":
        raw_df.at[index, "medical_history_3"] = '0'
    elif row["medical_history_3"] == "Yes":
        raw_df.at[index, "medical_history_3"] = '1'
        
# Change type to int
raw_df["medical_history_3"] = raw_df["medical_history_3"].astype(int)

Then, let's fix the values for race

In [125]:
raw_df["race"].unique()

array(['Chinese', 'India', 'Malay', 'Others', 'Indian', 'chinese'],
      dtype=object)

In [126]:
# Let chinese = 0, malay = 1, india = 2, others = 3

race_index = {'c' : '0', 'm' : '1', 'i' : '2', 'o' : '3'}

for index, row in raw_df.iterrows():
    raw_df.at[index, "race"] = race_index[row["race"][0].lower()]
    
raw_df["race"] = raw_df["race"].astype(int)

In [127]:
raw_df["race"].unique()

array([0, 2, 1, 3])

Add in a BMI column, since weight and height as a variable alone is not indicative of health/disease severity

In [154]:
# bmi formula: kg / m ^ 2

def bmi(df):
    return df["weight"] / (float(df["height"]) / 100) ** 2

bmi_list = raw_df.apply(bmi, axis=1)

bmi_list

0       27.845994
1       34.804687
2       26.872634
3       31.679687
4       24.959070
          ...
3395    26.406036
3396    31.435425
3397    28.754325
3398    31.364531
3399    25.968779
Length: 3400, dtype: float64

In [158]:
test = raw_df["weight"][0] / ((float(raw_df["height"][0])/100) ** 2)
test

27.845993756503642

In [159]:
raw_df["bmi"] = bmi_list

Lastly, let's update citizenship

In [130]:
raw_df["citizenship"].unique()

array(['Singaporean', 'Singapore citizen', 'Foreigner', 'PR'],
      dtype=object)

In [131]:
# Let Singaporean = 0, PR = 1, foreigner = 2

c_index = {'s' : '0', 'p' : '1', 'f' : '2'}

for index, row in raw_df.iterrows():
    raw_df.at[index, "citizenship"] = c_index[row["citizenship"][0].lower()]
    
raw_df["citizenship"] = raw_df["citizenship"].astype(int)

In [132]:
raw_df["citizenship"].unique()

array([0, 2, 1])

One last check for the values and dtype for every column

In [160]:
# Quick check for all data types
raw_df.dtypes

id                     object
date_of_admission      object
date_of_discharge      object
medical_history_1       int64
medical_history_2       Int32
medical_history_3       int32
medical_history_4       int64
medical_history_5       Int32
medical_history_6       int64
medical_history_7       int64
preop_medication_1      int64
preop_medication_2      int64
preop_medication_3      int64
preop_medication_4      int64
preop_medication_5      int64
preop_medication_6      int64
symptom_1               int64
symptom_2               int64
symptom_3               int64
symptom_4               int64
symptom_5               int64
lab_result_1          float64
lab_result_2          float64
lab_result_3            int64
weight                float64
height                  int64
id_w_date              object
total_bill            float64
admission_count         int64
gender                  int32
race                    int32
citizenship             int32
date_of_birth          object
age_at_admission        int64
year_of_admission       int32
month_of_admission      int32
year_of_birth           int32
month_of_birth          int32
bmi                   float64
dtype: object

In [129]:
# Quick check for unique values in each column
for column in raw_df.columns:
    print(column + ": " + str(raw_df[column].unique()))

id: ['00225710a878eff524a1d13be817e8e2' '0029d90eb654699c18001c17efb0f129'
 '0040333abd68527ecb53e1db9073f52e' ... 'ffc19537fa6621512ef4f296d60896ce'
 'ffd67c2bcfb32508d2cf7b1e1193e2ed' 'ffd9644f8daf1d28493a7cd700bb30f4']
date_of_admission: ['10/4/2014' '7/11/2012' '19/1/2013' ... '7/4/2015' '16/2/2014'
 '24/4/2011']
date_of_discharge: ['22/4/2014' '20/11/2012' '31/1/2013' ... '26/1/2011' '29/4/2011'
 '5/5/2013']
medical_history_1: [0 1]
medical_history_2: [ 0.  1. nan]
medical_history_3: [0 1]
medical_history_4: [0 1]
medical_history_5: [ 0. nan  1.]
medical_history_6: [0 1]
medical_history_7: [1 0]
preop_medication_1: [0 1]
preop_medication_2: [0 1]
preop_medication_3: [0 1]
preop_medication_4: [1 0]
preop_medication_5: [0 1]
preop_medication_6: [0 1]
symptom_1: [0 1]
symptom_2: [0 1]
symptom_3: [1 0]
symptom_4: [0 1]
symptom_5: [0 1]
lab_result_1: [13.4 16.7 14.8 14.9 14.2 13.  14.3 13.2 13.6 15.1 16.2 12.3 15.2 17.
 12.  12.9 13.7 13.9 13.5 15.3 12.7 15.6 13.1 14.1 11.5 14.7 11.8 12.6
 16.4 14.  11.9 16.8 11.7 14.4 16.6 11.3 13.8 11.1 13.3 17.4 15.4 18.
 15.5 12.5 15.7 14.5 12.2 15.9 17.5 16.  16.9 16.1 14.6 19.2 15.8 17.1
 16.3 18.3 11.  12.8 15.  10.5 16.5 10.9 12.4 11.6 18.6 10.6 18.2 17.8
 17.7  9.8 17.2 11.2 18.1 18.7 12.1 10.7 11.4 18.4 18.5 17.9  9.1  9.7
 10.3 17.3 10.8 17.6 10.1  9.4  9.6 10.4 19.1 18.8 19.8 18.9 19.3 20.3]
lab_result_2: [27.9 26.5 25.2 28.7 27.2 25.8 24.7 32.2 30.6 27.3 30.2 26.8 25.4 30.3
 28.8 26.1 28.3 29.3 28.6 26.  25.6 28.2 26.9 20.2 29.  26.6 26.3 27.
 31.6 28.4 24.9 27.1 29.7 23.  25.9 27.8 27.4 29.1 24.4 23.4 28.1 31.8
 24.2 25.1 28.  25.5 29.4 24.  30.5 23.8 22.1 30.7 22.3 29.8 23.5 23.6
 30.4 29.6 23.9 31.2 31.  31.4 30.1 26.7 25.3 27.6 26.4 26.2 27.7 22.9
 24.6 25.7 30.8 24.8 22.4 29.9 33.2 31.5 24.3 28.9 32.6 25.  31.3 29.5
 23.2 22.6 21.9 30.  24.5 24.1 32.1 33.  31.7 22.8 27.5 22.7 32.3 23.7
 21.2 32.5 33.7 32.7 34.9 21.4 30.9 28.5 35.1 21.3 29.2 21.8 31.9 21.6
 22.  23.3 32.8 23.1 33.6 31.1 19.7 21.7 33.9 32.4 32.9 33.5 33.1 21.1
 22.5 20.4 34.4 34.2 20.8 20.9 21.5 20.6 32.  34.  20.1 20.3 33.8 21.
 35.  33.4 22.2 34.5 19.9 34.3 33.3 20.7]
lab_result_3: [ 96 109 122  89 102 123  70 112 106  84 124  93  87  78  91 103  86 131
 111  97 100 110  90 115 120 105  94  79  83  80 119  82  75 114  85 101
  99 116 125 104  98 118 108  68 128  95  69 107  66 113  77  88 117 134
  92  81 121  73  64 130  72 132 129 126 127  67  74 137 136 142  71  76
  65  57  62 133  58  59  52  60 138 150 146  61  63 135 140 143 139 141]
weight: [ 66.9  89.1  79.5  81.1  74.7  61.1  70.9  79.3  68.7  84.6  72.6  96.2
  99.2  66.8  84.8  67.8  90.7  75.6  79.6  77.5  87.   80.4  88.4  89.4
  90.   88.1  85.3  80.5  80.   69.9  67.1  65.1  78.1  84.9  78.6  79.1
  53.  102.9  85.6  77.   73.4  72.2  92.3  65.5  75.1  85.5  81.5  77.1
 100.1  69.7  62.9  56.7  83.7  75.4  95.8  74.3  77.9  61.7  80.1  85.4
  73.1  88.2 101.1  63.4  75.7  89.6  82.4  68.8  84.5  98.   80.6  69.1
  70.1  74.2  88.6  81.   85.   72.1  75.5  76.6  78.4  71.6  76.8  77.8
  60.3  76.3 104.5  64.6  87.7  83.1  85.1  70.8  83.4  86.   87.3  79.7
  77.7  78.   54.1  58.   92.7  92.6  87.5  69.3  94.6 102.1  63.8  76.7
  81.4  65.2  83.2  85.2  80.2  81.2  69.   92.5  66.1  93.5  71.2  68.2
  57.2  58.2  77.6  74.5  70.3  78.3  90.5  71.   67.5  89.8  81.8  80.7
  78.2  76.5  92.9  67.4  74.1  95.1  63.5  79.2  75.9  74.9  73.8  85.9
  59.   89.7  63.6 101.6  63.7  77.4  83.6  87.6  62.5  70.7  71.4  76.4
  94.   78.8  85.8  72.9  78.5  61.2  73.7  72.5  67.6  90.2  73.5  78.7
  90.3  93.   99.9  62.6  86.5  97.4  73.9  83.3  84.3  65.7 105.2  71.1
  92.4  91.1  75.8  54.4  61.8  92.1  79.4  71.8  62.1  64.2  66.2  70.5
  84.7  59.3  97.   68.5  62.8  66.3  73.3  61.4  59.4  84.2  82.2  98.6
  95.4  72.7  71.7  72.3  94.5  83.5  65.3  74.4  87.2  82.7  86.6  95.6
  84.1  70.2  64.1  80.3 101.3  64.   76.9  84.   94.3  78.9  56.1  86.8
  49.3  93.9  93.8  82.3  81.9  74.6  81.6  81.7  86.2  75.3  91.8 103.6
  66.6  83.8  87.1  82.1  82.5  76.   50.6  48.7  92.8  64.8  66.4  71.3
  72.8  73.2  82.8  87.8  93.7  72.4  76.2  98.2  95.2  65.8  54.5  92.
  69.4  68.   70.   97.7  75.2  89.   74.   72.   60.1  91.   77.3  94.4
  90.4  88.9  82.9  90.6  90.8  88.8  85.7  79.8  59.5  62.7  53.7  55.7
  93.4  60.2  54.3  52.3  67.9  68.9  63.   76.1  82.   89.2  67.2  89.3
  60.9  75.   97.6  99.5  97.2  88.7  70.6  61.  109.  102.4  63.3  66.7
  74.8  88.3  58.9  67.7  79.   59.9  68.1  91.4  66.5  69.2  65.6  68.3
  69.8  94.7  69.6  73.   91.9  73.6  71.9 106.9  94.9  91.7  93.6  91.2
  60.   67.3  95.5 103.   64.3  67.   65.   86.1  58.8  59.6  98.7  99.8
 100.8  55.1  80.8 106.1  58.3  98.4  83.  103.8  89.5  64.5  83.9  86.3
  86.4  82.6  87.9  87.4 110.1  92.2  58.7  65.4  94.2 102.6  86.7 100.7
  91.6  88.5  71.5  64.7  79.9  90.9 103.3 106.3  60.4  62.3 121.   68.6
 109.1  64.4  70.4  59.8 103.2  56.   64.9 100.6  63.9  60.7  77.2  95.3
  91.3  62.2  51.4  63.1  69.5  50.4  68.4  58.4  96.9  95.9 111.5 103.4
  62.   94.1  59.2  95.   86.9  66.   62.4  81.3  55.5  98.9  51.   97.8
  50.  102.3  56.5 102.7  89.9  48.   84.4  55.4 102.8  99.7  96.6  88.
  58.6  95.7  49.4  60.8 101.7 112.3  57.3  99.4  52.2 101.   60.5  61.5
  55.9  93.3  90.1  57.   63.2  53.6  97.9  97.1  65.9  57.4  99.   61.6
  96.3  54.8  55.6  99.1 104.1 111.9 103.7  53.8 107.   61.3  96.   59.7
  55.3 110.7  96.1  91.5  49.   57.1  96.5  80.9  58.5  54.7  57.7 100.3
  96.8  94.8  96.4  49.5  97.3 110.5 109.3  93.2 108.4  52.7  54.   99.6
  57.5  55.2 101.5 107.8 106.5 115.2  52.   57.8  98.5  98.3  56.8  53.3
  60.6  52.8  58.1 100.2  56.3  93.1  53.2  54.6  56.6  55.8 100.  113.2
 101.2 104.2  57.6 102.   99.3 100.9]
height: [155 160 172 173 162 165 154 163 171 168 166 161 174 158 170 167 169 159
 151 178 152 157 181 180 153 156 175 177 164 176 179 182 183 184 186]
id_w_date: ['00225710a878eff524a1d13be817e8e210/4/2014'
 '0029d90eb654699c18001c17efb0f1297/11/2012'
 '0040333abd68527ecb53e1db9073f52e19/1/2013' ...
 'ffc19537fa6621512ef4f296d60896ce5/5/2013'
 'ffd67c2bcfb32508d2cf7b1e1193e2ed24/12/2012'
 'ffd9644f8daf1d28493a7cd700bb30f44/6/2013']
total_bill: [ 5190.57 22601.5  17447.18 ... 30053.61 28007.64 21040.66]
admission_count: [2 1 3]
gender: [0 1]
race: [0 2 1 3]
citizenship: ['Singaporean' 'Singapore citizen' 'Foreigner' 'PR']
date_of_birth: ['16/1/1983' '14/10/1943' '26/8/1972' ... '7/8/1976' '12/9/1938'
 '6/6/1950']
age_at_admission: [31 69 41 38 70 55 66 63 22 61 36 32 43 44 80 52 53 40 68 51 75 59 42 45
 56 65 33 37 74 73 77 71 54 64 46 57 72 39 30 58 82 60 34 35 29 47 67 79
 48 50 49 76 78 28 27 62 81 84 85 83 25 26]
year_of_admission: [2014 2012 2013 2015 2011]
month_of_admission: [ 4 11  1  2  9  6 10  5  7 12  3  8]
year_of_birth: [1983 1943 1972 1976 1942 1960 1947 1948 1973 1990 1953 1979 1969 1968
 1934 1961 1959 1977 1975 1962 1940 1945 1955 1980 1963 1974 1964 1938
 1951 1982 1978 1958 1971 1966 1944 1941 1935 1952 1981 1932 1957 1950
 1939 1965 1946 1967 1949 1970 1936 1954 1933 1956 1985 1937 1984 1931
 1986 1930 1989 1987]
month_of_birth: [ 1 10  8  7  9  4  5 12  6  3  2 11]

In [135]:
# Columns to change: medical_history 2 and 5, lab_result 1 and 2

raw_df["medical_history_2"] = raw_df["medical_history_2"].astype("Int32")
raw_df["medical_history_5"] = raw_df["medical_history_5"].astype("Int32")

### Lastly, let's clean up the data and remove unwanted columns

In [161]:
raw_df.columns

Index(['id', 'date_of_admission', 'date_of_discharge', 'medical_history_1',
       'medical_history_2', 'medical_history_3', 'medical_history_4',
       'medical_history_5', 'medical_history_6', 'medical_history_7',
       'preop_medication_1', 'preop_medication_2', 'preop_medication_3',
       'preop_medication_4', 'preop_medication_5', 'preop_medication_6',
       'symptom_1', 'symptom_2', 'symptom_3', 'symptom_4', 'symptom_5',
       'lab_result_1', 'lab_result_2', 'lab_result_3', 'weight', 'height',
       'id_w_date', 'total_bill', 'admission_count', 'gender', 'race',
       'citizenship', 'date_of_birth', 'age_at_admission', 'year_of_admission',
       'month_of_admission', 'year_of_birth', 'month_of_birth', 'bmi'],
      dtype='object')

Let's remove:
* id
* date_of_admission
* date_of_discharge
* id_w_date
* date_of_birth

In [162]:
_raw_df = raw_df.drop(columns=["id", "date_of_admission", "date_of_discharge", 
                               "id_w_date", "date_of_birth"])

In [163]:
_raw_df.columns

Index(['medical_history_1', 'medical_history_2', 'medical_history_3',
       'medical_history_4', 'medical_history_5', 'medical_history_6',
       'medical_history_7', 'preop_medication_1', 'preop_medication_2',
       'preop_medication_3', 'preop_medication_4', 'preop_medication_5',
       'preop_medication_6', 'symptom_1', 'symptom_2', 'symptom_3',
       'symptom_4', 'symptom_5', 'lab_result_1', 'lab_result_2',
       'lab_result_3', 'weight', 'height', 'total_bill', 'admission_count',
       'gender', 'race', 'citizenship', 'age_at_admission',
       'year_of_admission', 'month_of_admission', 'year_of_birth',
       'month_of_birth', 'bmi'],
      dtype='object')

Re-index the dataframe into the order that we want it

In [165]:
order = [
    'gender', 'race', 'citizenship', 'age_at_admission',
    'year_of_admission', 'month_of_admission', 'year_of_birth',
    'month_of_birth', 'bmi', 'weight', 'height', 'admission_count',
    'medical_history_1', 'medical_history_2', 'medical_history_3',
    'medical_history_4', 'medical_history_5', 'medical_history_6',
    'medical_history_7', 'preop_medication_1', 'preop_medication_2',
    'preop_medication_3', 'preop_medication_4', 'preop_medication_5',
    'preop_medication_6', 'symptom_1', 'symptom_2', 'symptom_3',
    'symptom_4', 'symptom_5', 'lab_result_1', 'lab_result_2',
    'lab_result_3', 'total_bill'
]

print(len(order) == len(_raw_df.columns))

True

In [174]:
ordered_df = _raw_df.reindex(columns=order)

ordered_df.columns

Index(['gender', 'race', 'citizenship', 'age_at_admission',
       'year_of_admission', 'month_of_admission', 'year_of_birth',
       'month_of_birth', 'bmi', 'weight', 'height', 'admission_count',
       'medical_history_1', 'medical_history_2', 'medical_history_3',
       'medical_history_4', 'medical_history_5', 'medical_history_6',
       'medical_history_7', 'preop_medication_1', 'preop_medication_2',
       'preop_medication_3', 'preop_medication_4', 'preop_medication_5',
       'preop_medication_6', 'symptom_1', 'symptom_2', 'symptom_3',
       'symptom_4', 'symptom_5', 'lab_result_1', 'lab_result_2',
       'lab_result_3', 'total_bill'],
      dtype='object')

Finally, we separate the dataframe into 2 - one containing all rows with at least 1 null, and another with no nulls

In [175]:
# Recall that medical_history 2 and 5 have nulls
# We will filter them out into another dataset
nan_df = ordered_df[ordered_df.isna().any(axis=1)]

print(len(nan_df))

final_df = ordered_df.dropna()

print(len(final_df))

502
2898

### Export data

In [178]:
# raw_df.to_csv("raw_df.csv")
nan_df.to_csv("nan_df.csv", index=False)

In [179]:
final_df.to_csv("final_df.csv", index=False)